.goalsHeader {
    color: lightblue;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.name {
    color:lightblue;
    font-style: italic;
}

p{
    color:white;
}


#listItemLarge{
    font-size: 20px;
}

li{
    color: white;
}

body{
    background-color: black;
}