/* .headers{
    text-align: center;
} */

.goalsHeader {
    color: brown;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.name {
    color: black;
    font-style: italic;
    text-align: left;
}

p{
    color:black;
}


#listItemLarge{
    font-size: 20px;
}



body{
    background-color: bisque;
}